<!--LANDING PAGE -->

<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/navbar :: common-header">
</head>
<body>
<div th:replace="fragments/navbar :: header"></div>
<div class="app">
    <div class="portfolio-header mb-3">
        <h1>View Portfolio</h1>
    </div>
    <div class="container-fluid view-portfolio">
        <div class="row">
            <div class="col-2">
                <form>
                    <div class="mb-3">
                        <label class="form-label">Portfolio Name</label>
                        <div th:text="${portfolio.name}"></div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Starting Balance</label>
                        <div th:text="${#numbers.formatCurrency(portfolio.startingBalance)}"></div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Current Balance</label>
                        <div th:text="${#numbers.formatCurrency(portfolio.balance)}"></div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Current Net Worth</label>
                        <div th:text="${#numbers.formatCurrency(portfolio.getCurrentPortfolioValue(tradingEngineService))}"></div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Start Date</label>
                        <div th:text="${#temporals.format(portfolio.startDate, 'dd/MMM/yyyy HH:mm')}"></div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">End Date</label>
                        <div th:text="${#temporals.format(portfolio.endDate, 'dd/MMM/yyyy HH:mm')}"></div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Status</label>
                        <div th:text="${portfolio.getFormattedStatus()}">Active</div>
                    </div>
                </form>
            </div>
            <div class="col-10">
                <form class="mb-4" th:object="${cryptoTransaction}" action="#" th:action="@{/portfolio/{id}/transaction(id=${portfolio.id})}" method="post">
                    <div class="mb-3">
                        <label for="cryptocurrency-dropdown" class="form-label">Crypcurrency</label>
                        <select class="form-select" id="cryptocurrency-dropdown" name="ticker">
                            <option selected>Select</option>
                            <option th:text="${coin.getFormattedPrice(tradingEngineService)}"
                                    th:data-price="${coin.getPrice(tradingEngineService)}" th:value="${coin.getTicker()}" th:each="coin : ${coins}">
                            </option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="quantity" class="form-label">Quantity</label>
                        <input type="number" class="form-control" id="quantity" placeholder="10.50" step="0.01" th:field="*{quantity}">
                    </div>
                    <div class="mb-3">
                        <label for="transaction-value" class="form-label">Transaction Value</label>
                        <input class="form-control" id="transaction-value" placeholder="$" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="buy-radio" class="form-label">Transaction Type</label>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="buy-radio" name="buy-radio" class="custom-control-input" checked>
                            <label class="custom-control-label" for="buy-radio">Buy</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="sell-radio" name="sell-radio" class="custom-control-input">
                            <label class="custom-control-label" for="sell-radio">Sell</label>
                        </div>
                    </div>
                    <button type="button" class="btn btn-secondary">Cancel</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <h2>Available Coins</h2>
                <table class="table">
                    <thead>
                    <tr class="portfolio-item">
                        <th scope="col">Ticker</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">1h Change</th>
                        <th scope="col">24h Change</th>
                        <th scope="col">7d Change</th>
                        <th scope="col">Market cap %</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr scope="row" th:each="coin : ${coins}">
                        <td th:text="${coin.getTicker()}"></td>
                        <td th:text="${coin.getName(tradingEngineService)}"></td>
                        <td th:text="${#numbers.formatCurrency(coin.getPrice(tradingEngineService))}"></td>
                        <td th:text="${#numbers.formatDecimal(coin.getPriceChange1h(tradingEngineService), 1, 2) + '%'}"></td>
                        <td th:text="${#numbers.formatDecimal(coin.getPriceChange1d(tradingEngineService), 1, 2) + '%'}"></td>
                        <td th:text="${#numbers.formatDecimal(coin.getPriceChange7d(tradingEngineService), 1, 2) + '%'}"></td>
                        <td th:text="${#numbers.formatDecimal(coin.getMarketCapDominance(tradingEngineService), 1, 2) + '%'}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<script src="/static/js/app.js"></script>
</body>
</html>