<!--LANDING PAGE -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Crypto Trading Simulator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="/static/css/app.css" rel="stylesheet">
    <script src="/static/js/app.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="portfolio-list.html">Portfolios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="trading-buy-sell.html">Trade</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="winner-portfolios.html">Daily Leaderboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="admin.html">Metrics</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="app">
    <div class="portfolio-header mb-3">
        <h1>View Portfolio</h1>
    </div>
    <div class="container-fluid view-portfolio">
        <div class="row">
            <div class="col-2">
                <form>
                    <div class="mb-3">
                        <label class="form-label">Portfolio Name</label>
                        <div th:text="${portfolio.name}"></div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Starting Balance</label>
                        <div th:text="${#numbers.formatDecimal(portfolio.startingBalance, 0, 'COMMA', 2, 'POINT')}"></div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Current Balance</label>
                        <div th:text="${#numbers.formatDecimal(portfolio.balance, 0, 'COMMA', 2, 'POINT')}"></div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Current Net Worth</label>
                        <div th:text="${#numbers.formatDecimal(portfolio.getCurrentPortfolioValue(tradingEngineService), 0, 'COMMA', 2, 'POINT')}"></div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Start Date</label>
                        <div th:text="${#temporals.format(portfolio.startDate, 'dd/MMM/yyyy HH:mm')}"></div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">End Date</label>
                        <div th:text="${#temporals.format(portfolio.endDate, 'dd/MMM/yyyy HH:mm')}"></div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Status</label>
                        <div th:text="${portfolio.getFormattedStatus()}">Active</div>
                    </div>
                </form>
            </div>
            <div class="col-10">
                <div class="current-holdings-header">
                    <h5>Current Holdings</h5>
                    <a th:href="@{/portfolio/{id}/tradingDashboard(id=${portfolio.id})}" class="btn btn-primary btn-lg current-holdings-header-button">
                        Buy / Sell
                    </a>
                </div>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Ticker</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Current Price</th>
                        <th scope="col">Holdings</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr scope="row" th:each="holding : ${portfolio.getCurrentHoldings()}">
                        <td th:text="${holding.key}"></td>
                        <td th:text="${holding.value}"></td>
                        <td th:text="${#numbers.formatCurrency(tradingEngineService.fetchRemotePrice(holding.key))}"></td>
                        <td th:text="${#numbers.formatCurrency(holding.value * tradingEngineService.fetchRemotePrice(holding.key))}"></td>
                    </tr>
                    </tbody>
                </table>
                <h5>Transaction History</h5>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Buy/Sell</th>
                        <th scope="col">Ticker</th>
                        <th scope="col">Coin Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Trans. Value</th>
                        <th scope="col">Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr scope="row" th:each="transaction : ${portfolio.getCryptoTransactions()}">
                        <td th:text="${transaction.getTransactionType()}"></td>
                        <td th:text="${transaction.getCryptocurrency().getTicker()}"></td>
                        <td th:text="${#numbers.formatDecimal(transaction.getPricePerCoin(), 0, 'COMMA', 2, 'POINT')}"></td>
                        <td th:text="${transaction.getQuantity()}"></td>
                        <td th:text="${#numbers.formatDecimal(transaction.getTransactionValue(), 0, 'COMMA', 2, 'POINT')}"></td>
                        <td th:text="${#temporals.format(transaction.getTradeDate(), 'dd/MMM/yyyy HH:mm')}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>