.auth-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.app {
    padding: 48px;
}

.portfolio-header {
    display: flex;
}

.new-portfolio-button {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.view-portfolio label {
    font-weight: bold;
    font-size: 12px;
}

.current-holdings-header {
    display: flex;
}

.current-holdings-header-button {
    margin-left: auto;
}